


<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
</div>
<h1 style = "text-align: center">This is the home page</h1>
<%= link_to "Go to Article list", articles_path, method: :get, class:"btn btn-secondary", style: "margin-right: 20px, text-align: center"%> |
<%= link_to "Go to About page", about_path, method: :get, class:"btn btn-secondary", style: "margin-right: 20px, text-align: center"%>