<h1>Welcome to Home page</h1>
<%= link_to "Go to Article list", articles_path, method: :get, class:"btn btn-secondary", style: "margin-right: 20px, text-align: center"%> |
<%= link_to "Go to About page", about_path, method: :get, class:"btn btn-secondary", style: "margin-right: 20px, text-align: center"%>