<h1><strong> Welcome to Homepage </strong></h1>
<%# <%= link_to "Go to Article list", articles_path, method: :get, class:"btn btn-secondary", style: "margin-right: 20px, text-align: center"%>
<%# <%= link_to "Go to About page", about_path, method: :get, class:"btn btn-secondary", style: "margin-right: 20px, text-align: center"%>

<div class="container-xl" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>