<h1><strong> Welcome to Homepage </strong></h1>
<%# <%= link_to "Go to Article list", articles_path, method: :get, class:"btn btn-secondary", style: "margin-right: 20px, text-align: center"%>
<%# <%= link_to "Go to About page", about_path, method: :get, class:"btn btn-secondary", style: "margin-right: 20px, text-align: center"%>



<div id="page-content">
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
    </div>
</footer>
