<h1>Edit </h1>
<%= render 'form'%>
<%= link_to "Back to Articles List", articles_path, method: :get, class:"btn btn-secondary", style: "margin-right: 20px"%>
<%= link_to "Delete this article", article_path(@article.id), method: :delete, data:{confirm: "Are you sure?"}, class:"btn btn-danger"%>