<h1 class ="text-center mt-4">All Articles</h1>
<div class="container">
    <%for article in @articles%>
        <div class="row" justify-content->
            <div class="col-8">
                <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= article.title%></h5>
                    <p class="card-text"><%=article.description%></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
                </div>
            </div>
        </div>
    <%end%>
</div>

