<h1>Articles listing page</h1>
<p><strong>Title: </strong><%=@articles%></p>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <%%>
        <tr>
            <td>Some title</td>
            <td>Some description</td>
            <td>Place holder</td>
        </tr>
    </tbody>
</table>