<h1 style ="text-align">Articles listing page</h1>

<table class = "table table-striped">
    <thead class = "thead-dark">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <%for article in @articles%>
        <tr>
            <td><%=article.title%></td>
            <td><%=article.description%></td>
            <td>Place holder</td>
        </tr>
    <% end %>
    </tbody>
</table>