<h1>Create a new Article</h1>
<%= render 'form'%>
<%= render text: "Hi there"%>
<%= link_to "Back to Articles List", articles_path, method: :get, class:"btn btn-secondary", style: "margin-right: 20px"%>