<h1>This is the post</h1>
<p><strong>Title: </strong><%=@article.title%></p>
<p><strong>Description: </strong><%=@article.description%></p>
<%= link_to "Back to Article List", articles_path, class:"btn btn-secondary"%>
<%= link_to "Edit this article", edit_articles_path(@article.id), class:"btn btn-secondary"%>