    <%if @article.errors.any?%>
        <h2 style = "font-size: 30px">You need to follow these rules to create a new article:</h2>
        <%@article.errors.full_messages.each do |msg|%>
        <ul>
           <li> <%=msg%> </li>
        </ul>
        <% end %>
    <%end%>