@import 'bootstrap/dist/css/bootstrap';

// .navbar {
//   background-color: #000000 !important;
// }

// .nav-link {
//     color: white !important;
// }

#logo {
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container{
    margin-top: 120px;
}

.jumbotron{
    background-image: asset-url('jumbotron.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

html,
body{
    height: 100%;

}
#page-content{
    flex: 1 0 auto;
    background-color: lightgray;
}

#sticky-footer{
    flex-shrink: none;
}

.form-block{
    font-size: 30px;
}